<%# titleタグの設定 %>
<%= provide(:title, "ホーム") %>

<div class="jumbotron">
    <h3>まだ見たことない映画を</h3>

    <%= image_tag 'movie.jpg' %>
    <p class="lead">あなたの好きな映画に投票してランキングを作りましょう。あなたの投票が誰か新しい「発見」になります。</p>
    <hr class="my-4">
    <p>映画の投票を行うためにはユーザー登録が必要になります。</p>
    <%= link_to '新規登録', signup_path, class: 'btn btn-primary btn-lg' %>
</div>

